
.idea/

__pycache__/
/fig/
/notebooks/.ipynb_checkpoints/
/data/

.DS_Store

~$validating_shocktube_analysis.pptx

.spyproject/

.vscode/

.ipynb_checkpoints/

_overwrite.npy

temp/

slides/~$update.pptx

CLEO_2023/temp.npy
