
.idea/

__pycache__/
/fig/
/notebooks/.ipynb_checkpoints/
/data/

.DS_Store

~$validating_shocktube_analysis.pptx

.spyproject/

.vscode/

.ipynb_checkpoints/

_overwrite.npy

temp/

slides/~$update.pptx

CLEO_2023/temp.npy

CLEO_2023/run.npy

CLEO_2023/run_sample.npy

CLEO_2023/~$1_GHz_microscopy_paper.pptx

*.h5

CLEO_2023/~$lit_review.xlsx

CLEO_2023/SPECTRUM_GRAT_PAIR.txt

CLEO_2023/Spectrum_Stitched_Together_wl_nm.txt

CLEO_2023/~$memo.docx

CLEO_2023/.~lock.lit_review.ods#

CLEO_2023/.~lock.memo.odt#

CLEO_2023/~$lit_review.ods

CLEO_2023/~$memo.odt

I3_good_data/